<div class="container">
  <div class="intro-section">
    <h1>Đây là trang Home</h1>
    <p>Trang này hiển thị danh sách sản phẩm, bạn có thể mua hàng tại đây</p>
  </div>
  <!-- Đoạn này có 1 ô search box, 1 combobox bên phải -->
  <div class="search-box">
    <input type="text" class="form-control product-search" placeholder="Tìm kiếm">
    <select aria-label="label for the select" class="form-control product-category">
      <option selected disabled>Danh mục</option>
      <option value="">Bánh kẹo</option>
      <option value="">Hải sản</option>
    </select>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://images.pexels.com/photos/249538/pexels-photo-249538.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta ad fugit nihil provident nesciunt.</p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$1200</del> $1000</p>
        <p class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </p>
        <div class="product-action">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://images.pexels.com/photos/249538/pexels-photo-249538.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        <h3 class="product-name">Product 2</h3>
        <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta ad fugit nihil provident nesciunt.</p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$1200</del> $1000</p>
        <p class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </p>
        <div class="product-action">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://images.pexels.com/photos/249538/pexels-photo-249538.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        <h3 class="product-name">Product 3</h3>
        <p class="product-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta ad fugit nihil provident nesciunt.</p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$1200</del> $1000</p>
        <p class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </p>
        <div class="product-action">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
